body {
    font-size: 25px;
    text-align: center;
    margin-top: 5%;
    margin-left: 35%;
    margin-right: 35%;
}

#screen {
    border-radius: 8px;
    padding: 2%;
    text-align: right;
    background-color: black;
    color: white;
}

#buttons {
    display: grid;
    grid-gap: 1px;
    grid-template-columns: repeat(4, auto);
}

.is-pressed {
    background-color: gray !important;
}

#answer {
    background-color: orange;
    grid-column-start: 1;
    grid-column-end: 5;
    padding: 1%;
}

#num,
#clear,
#dot {
    background-color: white;
    padding: 4%;
}

#operator {
    background-color: darkgrey;
    padding: 4%;
}